* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .flex-container {
  background-color:antiquewhite;
  display: flex;
  flex-direction: column;
  flex-shrink: wrap 100%;
  align-items: center;

} */

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(36, 184, 172, 0.644),
    rgba(218, 161, 75, 0.5)
  );
  /* background-image: white; */
}

header {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-left: 3%;
  color: #034255;
}

h1 {
  margin-bottom: 100px;
  text-align: center;
}

.h5header {
  position: center;
  margin: 0%;
  padding: 0%;
  border: black;
  color: rgb(31, 42, 146);
  top: 0%;
  left: 0%;
}

.combo {
  background-color: #c6ebd7;
  color: rgb(10, 10, 10);
  padding: 2px;
  font-size: 14px;
  border: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  margin: 1px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin-top: 3%;
  margin-left: 44%;
  flex: 1 1 80%;
  appearance: none;
  background: none;
  background-color: #0f79c0c9;
  border-radius: 8px;
  padding: 15px;
  border: none;
  outline: none;
  transition: 0.4s;
}

.input:focus {
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}

#velOrFlow {
  color: #034255;
  position: relative;
  /* margin: auto; */
  text-align: center;
  top: 40px;
  /* justify-content: center; */
  margin: 40px 10px;
  /* position: relative;
  display: block;
  top: 30px;
  left: 50%; */
  /* margin: 3px 1px; */
  /* width:190px; */
  /* z-index: 1; */
}

/* .velocity>div {
  position:relative;
  top: 60px;
  left: 37%;
  
}  */

/* transform: translate(41.5%, 20%); */

.velocity > div {
  position: relative;
  top: 30px;
  left: 41.7%;
  /* transform: translate(41.5%, 20%); */
}

.panel-group > div {
  position: relative;
  top: 170px;
  left: 25%;
}

/* .panel-group>div {
  position:sticky;
   top: 720px;
  left: 37%;
  transform: translate(41.5%, 20%); 
} */

/* .panel.panel-primary{
top: 40px;
left: 0%;
border-style: dashed;
} */
.runtime {
  position: relative;
  padding: 20px;
  top: 3%;
  left: 41.4%;
  /* transform: translate(41.5%, 20%); */
}

/* .panel-group {
  position: center;
  padding: 55px;
  top: 10%;
  left: 10%;
  transform: translate(25.6%, 55%);
} */

/* .panel-group {
  position: absolute;
  padding: 5px;
  top: 550px;
  left: 480px;
  transform: translate(25.6%,55%); 
 
}   */

.div2 {
  position: absolute;
  top: 300%;
  left: 100%;
}

/* Dropdown Button */
.test {
  background-color: #016685;
  color: rgb(228, 188, 80);
  padding: 10px;
  font-size: 20px;
  border: black;
  border-radius: 15px;
  display: inline-block;
  margin-top: 20%;
  margin-left: 45%;
  margin-bottom: 1%;
}

select.combo2 option:hover {
  background-color: rgb(170, 70, 78);
}

.fa-solid {
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 5px;
}
.far {
  color: rgb(255, 255, 255);
  padding: 0px 0px 0px 5px;
}
.dropbtn1 {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: solid;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 60px;
  left: 48%;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #28a2e9;
  max-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(38, 27, 134, 0.2);
  flex-grow: 0;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 10px 1px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-bottom: thick double #32a1ce;
}

.flow1 {
  display: none;
  width: 1px;
  height: 1px;
  margin: 1px solid;
  top: 30px;
  left: -190px;
  z-index: -1;
}

.run2 {
  display: none;
  width: 1px;
  height: 1px;
  margin: 1px solid;
  top: -10px;
  left: -180px;
  z-index: -1;
}

#backBtn {
  position: relative;
  top: 370px;
  left: 16%;
}

/* removed  from .flow1 and .run2 */

.dropdown-content a:hover {
  background-color: rgb(110, 40, 75);
  color: aliceblue;
}

/* .dropdown-content a:hover + .flow1 {
  display: block;
  position: relative;
  margin: 1px;
} */

a:hover + div {
  display: block;
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* .container-fluid{
  position:absolute 70px 0px 0x 1px;
  margin: 0px 2px;
  padding: 0px 2px;
  

 
} */

/* #flow{
  position: absolute;
top: 630px;
left: 80px;
  
} */

/* .diamSelector>div{
  position: absolute;
  top: 0px;
  left: px;
  z-index: 2;
} */
